
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group">
                    <label class="radio-inline">
                      <input type="radio" name="optdate" checked  value="latestdate" formControlName="optdate">Latest Report
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optdate"  value="specificdate" formControlName="optdate">Specific date
                    </label>
                    <input class="form-control" placeholder="yyyy-mm-dd"
                       name="earth_date" [(ngModel)]="earth_date_model" ngbDatepicker #d="ngbDatepicker" formControlName="earth_date">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                    <button type="submit">Search Report</button>
              </div>
            </div>

      </form>
      </nav>
<br> 
<div *ngIf="marsreport">
    <div class="container">
		<div id="weather">    
                      <table>
                            <tr><td>Skies:</td><td>{{ marsreport.weatherReport.atmo_opacity}}</td></tr>
                            <tr><td>Max Temp (C):</td><td>{{ marsreport.weatherReport.max_temp}}</td></tr>
                            <tr><td>Min Temp (C):</td><td>{{ marsreport.weatherReport.min_temp}}</td></tr>
                            <tr><td>Wind Speed:</td><td>{{ marsreport.weatherReport.wind_speed}}</td></tr>
                            <tr><td>Earth Time:</td><td>{{ marsreport.weatherReport.terrestrial_date}}</td></tr>
                        </table>
           </div> 
           <br/>
           <h3>Images from the Mars rover</h3>
           <div id= "divmars">
                <ng-container *ngFor="let marsImage of marsreport.marsImages">
                        <a target="_blank" href="{{marsImage}}"><img src="{{marsImage}}" style="width:150px"></a> 
                </ng-container>
           </div>
    </div>
</div>
