<html xmlns:th="https://www.thymeleaf.org">
	<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>	
		 <!--  	
		<script src="curiosity.js"></script>
		-->	
		<link rel="stylesheet" href="curiosity.css"/>
	</head>
	<body>
	<div class="container">
		<h1>Mars Report</h1>
		<div id="weather">
			<table>
				<tr><td>Skies:</td><td th:text="${masreport.weatherReport.atmo_opacity}" id="weather-atmo-opacity"/></tr>
				<tr><td>Max Temp (C):</td><td th:text="${masreport.weatherReport.max_temp}" id="weather-max-temp"/></tr>
				<tr><td>Min Temp (C):</td><td th:text="${masreport.weatherReport.min_temp}" id="weather-min-temp"/></tr>
				<tr><td>Wind Speed:</td><td th:text="${masreport.weatherReport.wind_speed}" id="weather-wind-speed"/></tr>
				<tr><td>Earth Time:</td><td th:text="${masreport.weatherReport.earthTime}" id="weather-terrestrial-date"/></tr>
			</table>
		</div>
		<br/>
  		<h3>Images from the Mars rover</h3>
  		<div id= "divmars">
  			<th:block th:each="mars_image : ${masreport.marsImages}"> 	
  			<a target="_blank" th:href="@{${mars_image}}"> <img th:src="@{{image}(image=${mars_image})}" style="width:150px"></a>
   			</th:block>  
 		</div>  			 
	</div>		
</body>
</html>